body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
    --light-green: #82b74b;
    --dark-green: #405d27;
    --dark: #3e4444;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

#main-content {
  position: relative;
  height: 100%;
}

#header {
    background-color: var(--dark);
    height: auto;
}
#navbar {
    height: 3rem;
    display: flex;
    align-items: center;

}

#navbar-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 20px;
}

.form-hint-text {
    font-size: 0.75rem;
    color: gray;
}

.title-lg {
    font-size: 2.5rem;
    text-align: center;
    margin-block: 30px;
    color: var(--dark);
}

.text-lg {
    font-size: 2rem;
    color: var(--dark);
}