<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles/base.css" />
    {% block link %} {% endblock %}
    <title>{% block title %}{%endblock%}</title>
  </head>
  <body>
    <!-- Header -->
    <header id="navbar">
      <nav>
        <ul id="navbar-list">
          <li>
            <a href="{{url_for('bp.user_journey_visualiser')}}" class="nav-link">Graph Visualiser</a>
          </li>
          <li>
            <a href="{{url_for('bp.projects')}}" class="nav-link">Manage Projects</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Main content -->
    <div id="main-content">
        {% block content %}{%endblock%}
    </div>
  </body>
  <script type="text/javascript" src="static/script.js"></script>
    {% block scripts %} {% endblock %}
</html>
