{% extends "base.html" %} {% block link %}
<link rel="stylesheet" href="static/styles/projects.css"/>{%endblock%} {% block
scripts %}
<script src="static/scripts/projects.js"></script>
{%endblock%} {% block title %}User journey visualiser{%endblock%} {% block
content %}
<div class="container">
    <button id="add-project-button">+</button>
    <!--Dialog only-->
    <dialog id="data-upload">
        <button id="close-button">
            Close
        </button>
        <h2 class="dialog-title">
            Upload a new project
        </h2>
        <form method="POST" enctype="multipart/form-data" action="{{url_for('projects.add_project')}}">
            <!--Name of project-->
            <div>
                <label for="project-name">Project Name</label>
                <input type="text" id="project-name" name="name" required/>
                <p class="form-hint-text">Project name must only be characters and words delimited by '-' or '_' or
                    spaces</p>
            </div>
            <!--File -->
            <div>
                <label for="data">Data</label>
                <input type="file" id="data" name="data" accept="text/csv" required/>
                <p class="form-hint-text">Must be a csv with (previous_page, page, page_views, unique_page_views)
                    columns</p>
            </div>
            <!--Submit -->
            <button type="submit" class="dialog-submit">
                Upload
            </button>
        </form>
    </dialog>

    <!--Main Page-->
    <h1>Your projects</h1>
    <ul>
        {% for project in projects %}
        <li>
            {{project}}
            <a href="{{url_for('projects.delete_project', name=project)}}">X</a>
        </li>


        {% endfor %}
    </ul>

</div>
{% endblock %}
