{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="static/styles/ujv.css">{%endblock%}
{% block title %}User journey visualiser{%endblock%}

{% block content %}
<div id="page">
    <!--Filter Section-->
    <div id="filter">
        <form id="filter-controls" action="{{url_for('ujv.show_journey')}}" method="POST">
            <div id="filter-options">
                <div class="form-group" id="filter-project">
                    <label for="project">Project</label>
                    <select class="form-control filter-option" id="project" name="project">
                        {% for project, project_formatted in projects %}
                        {% if project == chosen_project %}
                        <option value="{{project}}" selected>{{project_formatted}}</option>
                        {% else %}
                        <option value="{{project}}">{{project_formatted}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="filter-precision">
                    <label for="precision">Graph Precision</label>
                    <input class="form-control filter-option" type="number" id="precision" name="precision" min="0.01"
                           max="1" step="0.01" value="{{chosen_precision}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="filter-submit">
                Submit
            </button>

        </form>
    </div>
    <!--Graph Visualisation-->
    <iframe src="{{url_for('ujv.get_graph')}}" frameborder="1" height="100%" width="100%"></iframe>
</div>
{% endblock %}